@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Fredoka One', cursive;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  line-height: 1.25;
  height: 100%;
  background: #fbe8a6;
}

.main-wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.input {
  @apply focus:outline-none 
  text-gray-700
  text-center 
  self-stretch 
  rounded
  bg-gray-200
  p-3;
}

input[type='datetime-local'] {
  color: #888;
}

.button.clay {
  @apply text-gray-500 
  text-sm 
  px-8 
  py-3;
}

.button-default.clay {
  @apply text-[#ffffff]
  bg-[#f76d6d] 
  hover:bg-[#f53d3d];
}

.button-secondary.clay {
  @apply text-[#ffffff]
  bg-[#24315e] 
  hover:bg-[#a8d1e7]
  px-8 
  py-3;
}

.event-box.clay {
  max-width: 48rem;
  @apply bg-white;
}

.modal-content.clay {
  @apply bg-white px-3 pb-0 pt-5;
}

.event-title {
  text-shadow: 0 0.075em rgb(0 0 0 / 25%);
  @apply text-white text-3xl;
  text-shadow: 0 0.075em rgb(0 0 0 / 25%);
}
